:root {
    --nav-links-color: #fff;
    --button-hover-color: #878584;
    --backoffice-menu-bg: #343a40;
    --table-head-bg: #e9ecef;
    --nav-link-hover-color: #f79800;
    --footer-color: #e3e3e3;
    --dark-layer: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6));
    --edit-button-color: #ffa207;
    --delete-button-color: #dc3545;
    --pagination-active-bg: #007bff;
    --header-bg-image: url(background_image.jpg);
}


header {
    background-image: var(--dark-layer), var(--header-bg-image);
    background-size: cover;
    background-position: center;
    height: 30vh;
    display:flex;
    justify-content:space-between;
    color:var(--nav-links-color);
    padding: 5%;
}

.titulo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.topRight {
    padding:2vh;
}

